# None of these must be provided unless you want to change something - they have sensible defaults

# FLUXER_API_URL=https://api.fluxer.app
# FLUXER_GATEWAY_URL=wss://gateway.fluxer.app

# FLINE_MAX_UPLOAD_FILES=10
# Maximum file size in bytes (by default 50 MiB):
# FLINE_MAX_UPLOAD_FILE_SIZE=52428800

# Address to bind to and listen for connections (for both API and gateway):
# FLINE_LISTEN_ADDR=:8080
# The minumum log level to show (change to debug for development):
# FLINE_LOG_LEVEL=info
